<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/profile.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <title>AsdarrID - Profile</title>
</head>

<body>
    <%- include('../layouts/none.ejs'); %>
    <%- include('../layouts/navbar.ejs'); %>

    <div class="blank" onclick="closeRightMenu()">
        <!-- isi profile -->
        <br>
        <div class="container">
            <div class="row">
                <div class="card-body" style="background-color: #f8fafd!important;">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-rw">
                                <div class="card-body akun">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>Informasi Akun</h5>
                                            <div class="row">
                                                <li style="list-style-type:none">Nama</li>
                                                <input class="form-control" type="text" value="<%= user.name %>"
                                                    aria-label="Disabled input example" disabled>
                                            </div>
                                            <div class="row">
                                                <li style="list-style-type:none"> Email </li>
                                                <input class="form-control" type="text" value="<%= user.email %>"
                                                    aria-label="Disabled input example" disabled>
                                            </div>
                                            <div class="row">
                                                <li style="list-style-type:none"> Nomor Telepon </li>
                                                <input class="form-control" type="text" value="<%= user.phone_number %>"
                                                    aria-label="Disabled input example" disabled>
                                            </div>
                                            <br>
                                            <div class="log-out-btn">
                                                <a href="/auth/logout" class="btn btn-primary btn-sm"
                                                    style="color: white;">keluar
                                                    <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card card-rw">
                                <div class="card-body">
                                    <table class="riwayat-table" style="border-top: none;">
                                        <thead>
                                            <th> No Transaksi </th>
                                            <th> Tanggal </th>
                                            <th> Nama Produk </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    12346 </a> </td>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                                Detail</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul>
                                                                <li style="list-style-type: none;"> Nomor Transaksi
                                                                    : 12346 </li>
                                                                <li style="list-style-type: none;"> Tanggal :
                                                                    08/09/2022 </li>
                                                                <li style="list-style-type: none;"> Nama Pengguna :
                                                                    Chunchunmadu
                                                                </li>
                                                                <li style="list-style-type: none;"> Metode
                                                                    Pembayaran : Dana </li>
                                                                <li style="list-style-type: none;"> Nominal :
                                                                    Rp.1.000.000 </li>
                                                                <li style="list-style-type: none;"> Status : Belum
                                                                    Dibayar </li>
                                                            </ul>
                                                        </div>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td> 08/09/2022 </td>
                                            <td> pubji </td>
                                            </tr>
                                        </tbody>

                                        <tbody>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    12346 </a> </td>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                                Detail</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul>
                                                                <li style="list-style-type: none;"> Nomor Transaksi
                                                                    : 12346 </li>
                                                                <li style="list-style-type: none;"> Tanggal :
                                                                    08/09/2022 </li>
                                                                <li style="list-style-type: none;"> Nama Pengguna :
                                                                    Chunchunmadu
                                                                </li>
                                                                <li style="list-style-type: none;"> Metode
                                                                    Pembayaran : Dana </li>
                                                                <li style="list-style-type: none;"> Nominal :
                                                                    Rp.1.000.000 </li>
                                                                <li style="list-style-type: none;"> Status : Belum
                                                                    Dibayar </li>
                                                            </ul>
                                                        </div>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td> 08/09/2022 </td>
                                            <td> pubji </td>
                                            </tr>
                                        </tbody>

                                        <tbody>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    12346 </a> </td>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                                Detail</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul>
                                                                <li style="list-style-type: none;"> Nomor Transaksi
                                                                    : 12346 </li>
                                                                <li style="list-style-type: none;"> Tanggal :
                                                                    08/09/2022 </li>
                                                                <li style="list-style-type: none;"> Nama Pengguna :
                                                                    Chunchunmadu
                                                                </li>
                                                                <li style="list-style-type: none;"> Metode
                                                                    Pembayaran : Dana </li>
                                                                <li style="list-style-type: none;"> Nominal :
                                                                    Rp.1.000.000 </li>
                                                                <li style="list-style-type: none;"> Status : Belum
                                                                    Dibayar </li>
                                                            </ul>
                                                        </div>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td> 08/09/2022 </td>
                                            <td> pubji </td>
                                            </tr>
                                        </tbody>

                                        <tbody>
                                            <td>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    12346 </a> </td>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                                Detail</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul>
                                                                <li style="list-style-type: none;"> Nomor Transaksi
                                                                    : 12346 </li>
                                                                <li style="list-style-type: none;"> Tanggal :
                                                                    08/09/2022 </li>
                                                                <li style="list-style-type: none;"> Nama Pengguna :
                                                                    Chunchunmadu
                                                                </li>
                                                                <li style="list-style-type: none;"> Metode
                                                                    Pembayaran : Dana </li>
                                                                <li style="list-style-type: none;"> Nominal :
                                                                    Rp.1.000.000 </li>
                                                                <li style="list-style-type: none;"> Status : Belum
                                                                    Dibayar </li>
                                                            </ul>
                                                        </div>
                                                        <br>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td> 08/09/2022 </td>
                                            <td> pubji </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end profile -->
    </div>
    <br><br>
    <%- include('../layouts/footer.ejs'); %>
    <script src="../assets/js/main.js"></script>
</body>

</html>