<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/produk.css">
    <title>AsdarrID - Smile One</title>
</head>

<body>
    <%- include('../layouts/none.ejs'); %>
    <%- include('../layouts/navbar.ejs'); %>

    <!-- konten -->
    <div class="single-product py-5" onclick="closeRightMenu()">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-12 col-lg-4 order-lg-last">
                    <article>
                        <div class="card border-0 mb-4">
                            <div class="card-body p-0" style="background-color: #f8fafd;">

                                <!-- nama produk & logo -->
                                <div class="d-flex gap-3 align-items-center" style="justify-content: left!important;">
                                    <div class="thumbnail-product">
                                        <img itemprop="image" src="assets/images/game/Smile One.jpg" alt=""
                                            class="rounded-3" height="100px">
                                    </div>
                                    <div class="product-data">
                                        <h1 class="fs-5 mb-1 entry-title" itemprop="name">Smile One Coin</h1>
                                    </div>
                                </div>
                                <!-- end -->

                            </div>
                        </div>

                        <!-- cara top up -->
                        <div class="card product-how-to-top-up">
                            <h6> Cara Top Up </h6>
                            <div class="card-body p-3">
                                <div class="fs-6" style="font-size: 0.89rem;">
                                    <ol>
                                        <li>Masukkan Email</li>
                                        <li>Pilih Nominal</li>
                                        <li>Pilih Metode Pembayaran</li>
                                        <li>Tulis nomor WhatsApp yang benar!</li>
                                        <li>Klik Beli & lakukan Pembayaran</li>
                                        <li>Upload bukti pembayaran</li>
                                        <li>Voucher akan dikirim ke email Anda.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <!-- end -->
                    </article>
                </div>
                <div class="col-md-12 col-lg-8">
                    <form action="/sale/smile-one" method="post">
                        <div class="card border-0 cbm-section-shadow mb-4 product-form-input-order">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-2" style="justify-content: left!important;">
                                    <div class="number-form">1</div>
                                    <h4 class="mb-0 ms-2 fw-600">Masukkan Email</h4>
                                </div>
                                <div class="row g-3">
                                    <div class="col">
                                        <label class="form-label" for="userID">Email</label>
                                        <input type="email" class="form-control" name="userID" id="userID"
                                            placeholder="Masukan Email anda">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 cbm-section-shadow mb-4 bg-white rounded-5 product-form-input-order">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3" style="justify-content: left!important;">
                                    <div class="number-form">2</div>
                                    <h4 class="mb-0 ms-2 fw-600">Pilih Jumlah Coins</h4>
                                </div>
                                <div class="row">

                                    <div class="row row-cols-3 g-3">

                                        <!-- 1000 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check h-100" name="denom"
                                                    id="nominal-1000" value="320" autocomplete="off">
                                                <label class="btn btn-outline-info " style="height:50%;width:100%"
                                                    for="nominal-1000">1000
                                                    Coins</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 5000 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check h-100" name="denom"
                                                    id="nominal-5000" value="321" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-5000">5000
                                                    Coins</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 10000 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check h-100" name="denom"
                                                    id="nominal-10000" value="322" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-10000">10000
                                                    Coins</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 15000 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check h-100" name="denom"
                                                    id="nominal-15000" value="323" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-15000">15000
                                                    Coins</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 20000 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check h-100" name="denom"
                                                    id="nominal-20000" value="324" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-20000">20000
                                                    Coins</label>
                                            </div>
                                        </div>
                                        <!-- end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('../layouts/list-pembayaran.ejs'); %>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end konten -->

    <%- include('../layouts/footer.ejs'); %>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/button.js"></script>
</body>

</html>