<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/produk.css">
    <title>AsdarrID - Tom and Jerry: Chase</title>
</head>

<body>
    <%- include('../layouts/none.ejs'); %>
    <%- include('../layouts/navbar.ejs'); %>

    <!-- konten -->
    <div class="single-product py-5" onclick="closeRightMenu()">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-12 col-lg-4 order-lg-last">
                    <article>
                        <div class="card border-0 mb-4">
                            <div class="card-body p-0" style="background-color: #f8fafd;">

                                <!-- nama produk & logo -->
                                <div class="d-flex gap-3 align-items-center" style="justify-content: left!important;">
                                    <div class="thumbnail-product">
                                        <img itemprop="image" src="assets/images/game/Tom and Jerry.png" alt=""
                                            class="rounded-3" height="100px">
                                    </div>
                                    <div class="product-data">
                                        <h1 class="fs-5 mb-1 entry-title" itemprop="name">Tom and Jerry: Chase</h1>
                                        <div class="fs-6 text-muted">NetEase</div>
                                    </div>
                                </div>
                                <!-- end -->

                                <!-- app/play store & situs web -->
                                <div class="product_link_store">
                                    <div class="item_link_store">
                                        <a href="https://play.google.com/store/apps/details?id=com.netease.tjglobal"
                                            target="_blank">
                                            <img src="assets/images/logo/play.svg"
                                                title="Temukan di Google Playstore" />
                                        </a>
                                    </div>
                                    <div class="item_link_store">
                                        <a href="https://apps.apple.com/id/app/tom-and-jerry-chase/id1478207260"
                                            target="_blank">
                                            <img src="assets/images/logo/apps.svg" title="Download di App Store" />
                                        </a>
                                    </div>
                                    <div class="item_link_store">
                                        <a href="http://www.tomandjerrychaseasia.com/id/"
                                            class="item_link_website d-flex gap-2 align-items-center" target="_blank"
                                            title="Situs WEB">
                                            <img src="assets/images/game/Tom and Jerry.png" class="rounded-circle">
                                            <div>
                                                <span class="mb-0">SITUS</span>
                                                <p class="mb-0">WEB</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- end -->

                                <!-- deskripsi produk -->
                                <div class="mt-2">
                                    <span>
                                        <h5 style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
                                                style="font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline;"><b>
                                                    Tentang Tom and Jerry: Chase</b></span></h5>
                                        <p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
                                                style="font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline;">
                                                Tom and Jerry: Chase adalah game mobile kasual 1 vs 4 dengan elemen
                                                kompetitif, dilisensikan secara resmi oleh Warner Bros. dan
                                                dipublikasikan oleh NetEase Games.<span id="dots">...</span><span
                                                    id="more"> <br><br> Permainan ini dengan sempurna menciptakan gaya
                                                    seni klasik. Pemain dapat memilih untuk bermain sebagai Jerry atau
                                                    teman-temannya dalam upaya mereka mencuri keju, atau bermain sebagai
                                                    Tom untuk menghentikan mereka dari mencapai keju tersebut. Siapa
                                                    yang akan menang dalam pertempuran kecerdasan dan kekuatan ini?
                                                    Bergabunglah dengan lebih dari satu juta pemain dan selami permainan
                                                    terbaik kucing dan tikus. Rasakan sensasi kejar-kejaran!</span>
                                        </p>
                                        <div>
                                        </div>
                                    </span>
                                    <a onclick="myFunction()" id="myRead"> Read more </a>
                                </div>
                                <!-- end -->
                            </div>
                        </div>

                        <!-- cara top up -->
                        <div class="card product-how-to-top-up">
                            <h6> Cara Top Up </h6>
                            <div class="card-body p-3">
                                <div class="fs-6" style="font-size: 0.89rem;">
                                    <ol>
                                        <li>Masukkan User ID</li>
                                        <li>Pilih Nominal Diamonds</li>
                                        <li>Pilih Metode Pembayaran</li>
                                        <li>Tulis nomor WhatsApp yang benar!</li>
                                        <li>Klik Beli & lakukan Pembayaran</li>
                                        <li>Upload bukti pembayaran</li>
                                        <li>Diamonds akan masuk otomatis ke akun Anda.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <!-- end -->
                    </article>
                </div>
                <div class="col-md-12 col-lg-8">
                    <form action="/sale/tom-and-jerry-chase" method="post">
                        <div class="card border-0 cbm-section-shadow mb-4 product-form-input-order">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-2" style="justify-content: left!important;">
                                    <div class="number-form">1</div>
                                    <h4 class="mb-0 ms-2 fw-600">Masukkan User ID </h4>
                                </div>
                                <div class="row g-3">
                                    <div class="col">
                                        <label class="form-label" for="userID">User ID (khusus server asia)</label>
                                        <input type="text" class="form-control" name="userID" id="userID"
                                            placeholder="Masukan User ID">
                                        <small class="where-my-user-id" data-bs-toggle="modal"
                                            data-bs-target="#WhereMyUserID">Dimana User ID Saya?</small>
                                    </div>

                                    <!-- Dimana User ID Saya? -->
                                    <div class="modal fade" id="WhereMyUserID" aria-labelledby="WhereMyUserIDLabel">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div class="modal-title">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <div class="fw-bold">Dimana User ID
                                                                Saya?</div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="assets/images/game/id/tom.png" alt="Dimana User ID Saya?">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Tutup</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end -->
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 cbm-section-shadow mb-4 bg-white rounded-5 product-form-input-order">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3" style="justify-content: left!important;">
                                    <div class="number-form">2</div>
                                    <h4 class="mb-0 ms-2 fw-600">Pilih Jumlah Diamonds</h4>
                                </div>
                                <div class="row">

                                    <div class="row row-cols-3 g-3">

                                        <!-- 60 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check h-100" name="denom" id="nominal-60"
                                                    value="255" autocomplete="off">
                                                <label class="btn btn-outline-info " style="height:50%;width:100%"
                                                    for="nominal-60">60
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 180 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check h-100" name="denom" value="256"
                                                    id="nominal-180" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-180">180
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 300 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check h-100" name="denom" value="257"
                                                    id="nominal-300" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-300">300
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 600 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-600"
                                                    value="258" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-600">600
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 1200 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-1200"
                                                    value="259" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-1200">1200
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 1800 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-1800"
                                                    value="260" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-1800">1800
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 3000 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-3000"
                                                    value="261" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-3000">3000
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->
                                    </div>


                                </div>
                            </div>
                        </div>
                        <%- include('../layouts/list-pembayaran.ejs'); %>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end konten -->
    <%- include('../layouts/footer.ejs'); %>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/button.js"></script>
</body>

</html>