<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/header.ejs'); %>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/produk.css">
    <title>AsdarrID - Werewolf</title>
</head>

<body>
    <%- include('../layouts/none.ejs'); %>
    <%- include('../layouts/navbar.ejs'); %>

    <!-- konten -->
    <div class="single-product py-5" onclick="closeRightMenu()">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-12 col-lg-4 order-lg-last">
                    <article>
                        <div class="card border-0 mb-4">
                            <div class="card-body p-0" style="background-color: #f8fafd;">

                                <!-- nama produk & logo -->
                                <div class="d-flex gap-3 align-items-center" style="justify-content: left!important;">
                                    <div class="thumbnail-product">
                                        <img itemprop="image" src="assets/images/game/Werewolf.jpg" alt=""
                                            class="rounded-3" height="100px">
                                    </div>
                                    <div class="product-data">
                                        <h1 class="fs-5 mb-1 entry-title" itemprop="name">Werewolf</h1>
                                        <div class="fs-6 text-muted">Walkman</div>
                                    </div>
                                </div>
                                <!-- end -->

                                <!-- app/play store & situs web -->
                                <div class="product_link_store">
                                    <div class="item_link_store">
                                        <a href="https://play.google.com/store/apps/details?id=com.sharejoy.werewolf"
                                            target="_blank">
                                            <img src="assets/images/logo/play.svg"
                                                title="Temukan di Google Playstore" />
                                        </a>
                                    </div>
                                    <div class="item_link_store">
                                        <a href="https://apps.apple.com/us/app/werewolf-party-game/id1118314187?l=zh&ls=1"
                                            target="_blank">
                                            <img src="assets/images/logo/apps.svg" title="Download di App Store" />
                                        </a>
                                    </div>
                                    <div class="item_link_store">
                                        <a href="https://www.werewolvesgame.com/"
                                            class="item_link_website d-flex gap-2 align-items-center" target="_blank"
                                            title="Situs WEB">
                                            <img src="assets/images/game/Werewolf.jpg" class="rounded-circle">
                                            <div>
                                                <span class="mb-0">SITUS</span>
                                                <p class="mb-0">WEB</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- end -->

                                <!-- deskripsi produk -->
                                <div class="mt-2">
                                    <span>
                                        <h5 style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
                                                style="font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline;"><b>
                                                    Tentang Werewolf</b></span></h5>
                                        <p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span
                                                style="font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline;">
                                                Werewolf merupakan sebuah game casual sosial puzzle, dengan mekanisme
                                                bermain yang cocok untuk dimainkan bersama orang lain. Di game Werewolf
                                                Party, pemain dapat berperan sebagai Villager yang harus mempertahankan
                                                desa, atau <span id="dots">...</span><span id="more"> Werewolf yang
                                                    harus menghabisi semua Villager yang ada.</span>
                                        </p>
                                        <div>
                                        </div>
                                    </span>
                                    <a onclick="myFunction()" id="myRead"> Read more </a>
                                </div>
                                <!-- end -->
                            </div>
                        </div>

                        <!-- cara top up -->
                        <div class="card product-how-to-top-up">
                            <h6> Cara Top Up </h6>
                            <div class="card-body p-3">
                                <div class="fs-6" style="font-size: 0.89rem;">
                                    <ol>
                                        <li>Masukkan User ID</li>
                                        <li>Pilih Nominal Diamonds</li>
                                        <li>Pilih Metode Pembayaran</li>
                                        <li>Tulis nomor WhatsApp yang benar!</li>
                                        <li>Klik Beli & lakukan Pembayaran</li>
                                        <li>Upload bukti pembayaran</li>
                                        <li>Diamonds akan masuk otomatis ke akun Anda.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <!-- end -->
                    </article>
                </div>
                <div class="col-md-12 col-lg-8">
                    <form action="/sale/werewolf" method="post">
                        <div class="card border-0 cbm-section-shadow mb-4 product-form-input-order">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-2" style="justify-content: left!important;">
                                    <div class="number-form">1</div>
                                    <h4 class="mb-0 ms-2 fw-600">Masukkan User
                                        ID</h4>
                                </div>
                                <div class="row g-3">
                                    <div class="col">
                                        <label class="form-label" for="userID">User ID</label>
                                        <input type="text" class="form-control" name="userID" id="userID"
                                            placeholder="Masukan User ID">
                                        <small class="where-my-user-id" data-bs-toggle="modal"
                                            data-bs-target="#WhereMyUserID">Dimana User ID Saya?</small>
                                    </div>

                                    <!-- Dimana User ID Saya? -->
                                    <div class="modal fade" id="WhereMyUserID" aria-labelledby="WhereMyUserIDLabel">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <div class="modal-title">
                                                        <div class="d-flex flex-row align-items-center">
                                                            <div class="fw-bold">Dimana User ID
                                                                Saya?</div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <img src="assets/images/game/id/werewolf.webp"
                                                        alt="Dimana User ID Saya?">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Tutup</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end -->
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 cbm-section-shadow mb-4 bg-white rounded-5 product-form-input-order">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3" style="justify-content: left!important;">
                                    <div class="number-form">2</div>
                                    <h4 class="mb-0 ms-2 fw-600">Pilih Jumlah Diamonds</h4>
                                </div>
                                <div class="row">

                                    <div class="row row-cols-3 g-3">

                                        <!-- 45 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check h-100" name="denom" id="nominal-45"
                                                    value="285" autocomplete="off">
                                                <label class="btn btn-outline-info " style="height:50%;width:100%"
                                                    for="nominal-45">45
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 75 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check h-100" name="denom" id="nominal-75"
                                                    value="286" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-75">75
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 135 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check h-100" name="denom" value="287"
                                                    id="nominal-135" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-135">135
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 150 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-150"
                                                    value="288" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-150">150
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 198 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-198"
                                                    value="289" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-198">198
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 225 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-225"
                                                    value="290" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-225">225
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 300 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-300"
                                                    value="291" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-300">300
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 495 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-495"
                                                    value="292" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-495">495
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 900 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-900"
                                                    value="293" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-900">900
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 1500 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-1500"
                                                    value="294" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-1500">1500
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 1650 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-1650"
                                                    value="295" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-1650">1650
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->

                                        <!-- 3000 -->
                                        <div class="col mt-3">
                                            <div class="list-group">
                                                <input type="radio" class="btn-check" name="denom" id="nominal-3000"
                                                    value="296" autocomplete="off">
                                                <label class="btn btn-outline-info" for="nominal-3000">3000
                                                    Diamonds</label>
                                            </div>
                                        </div>
                                        <!-- end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('../layouts/list-pembayaran.ejs'); %>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end konten -->
    <%- include('../layouts/footer.ejs'); %>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/button.js"></script>
</body>

</html>